
.mainContainer {
  margin: 80px 15%;
  top: 80px;

}

.errorMessage {
  font-family: sans-serif;
  color: red;
}




@media screen and (max-width: 1200px) {
  .mainContainer {
    margin: 80px 8%;

  }
}

@media screen and (max-width: 1100px) {
  .mainContainer {
    margin: 80px 2%;

  }
}
html {
  min-width: 100%;
  min-height: 100%;
  margin: 0;
}

body {
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  background-color: #ffffff;
}
