.authform {
  display: flex;
  flex-direction: column;
  min-width: 350px;
}

.authform .userInput {
  outline: none;
  border-radius: 5px;
  border: solid #aaaaaa 1.8px;
  padding: 12px;
  margin: 12px 0;
  font-family: 'Open Sans',sans-serif;
  font-size: 1.1em;
}

.authform .userInput::placeholder {
  color: #cacaca;
}

.authform button {
  background-color: #44aa44; /* Green */
  border: none;
  color: white;
  width: 50%;
  align-self: center;
  margin: 10px 0 0 0;
  padding: 10px 15px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-family: sans-serif;
}

.authform .gray {
  background-color: gray;
}
