.characterPicker {
  align-self: center;
  text-align: center;
}

.currentCharacter {
  background: none;
  outline: none;
  text-decoration: none;
  border: none;
  padding: 0;
}

.currentCharacter img {
  height: 100%;
  width: 100%;
}
.imgalt {
}



.characterModal {
  position: absolute;
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 10px;
  top:75px;
  left: 20%;
  background: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.characterButton {
  max-width: 50px;
  background: none;
  outline: none;
  text-decoration: none;
  border: none;
  margin: 5px;
  padding: 0;
}

.characterModal img {
  width: 100%;
}
