.characterStat {
  display: grid;
  flex:1;
  margin-right: auto;
  margin-left: 0;
  grid-template-columns: 60px 1fr 72px;
  grid-column-gap: 5px;
  margin: 30px;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.characterStat .name {
  font-size: 16px;
  min-width: 5rem;
}

.characterStat .percentage {
  font-size: 25px;

}

.characterStat .matches {
  font-style: italic;
  color: #aaa;
}

.characterStat img {
  height: 60px;
  width: 60px;
}
