.leaderboardContainer {
  display: flex;
  justify-content: center;
  align-items: center;

}

.leaderboardContainer button {
  background: #556677;
  padding: 15px;
  outline: none;
  border: none;
  border-radius: 5px;
  margin: 10px 0 40px 0;
  color: white;
  cursor: pointer;
}

.leaderboard {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 50px;
  grid-row-gap: 15px;
  text-align: center;

}


.label {
font-family: sans-serif;
color: #0060a3;
font-size: 30px;
margin-bottom: 10px;

}
