

.matchPlayer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;


}

.matchPlayer .iconContainer {

}

.matchPlayer.reverse {
  flex-direction: row-reverse;
}

.matchPlayer img {
  height: 80px;
  width: 80px;
  margin: -10px 0;
}

.matchPlayer .information {
  white-space: nowrap;
  margin: 0 10px;
  font-size: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
}
