.matchRegister {
  display: flex;
  flex-direction: row;
}

.player1 {
}

.matchRegister .vs {
  font-family: sans-serif;
  font-style: italic;
}

.player2 {
}

.buttonContainer {
  display: grid;
  grid-template-columns: 80px 50px;
  grid-template-rows: 50px;
}

.buttonContainer.reverse {
}

.matchRegister .button {
  margin: 10px;
  border: none;
  border-radius: 4px;
  color: #ef2222;
  background-color: #aa0044;
}

.matchRegister .button.winner {
  background-color: #00aa44;
  color: #00ea00;
  border: none;
}
