.matchRegisterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  background-color: #445566;
  margin-bottom: 10px;
}

.registerButton button {
  cursor: pointer;
  background-color: #667788;
  outline: none;
  border:none;
  color: white;
  padding: 10px;
  margin: 0 5px;
  border-radius: 5px;
}

.matchRegister {
  display: flex;
  flex-direction: row;
}

.player1 {
  display: flex;

}

.player2 {
  display: flex;
}

.matchRegister .vs {
  margin: 0 10px;
  font-size: 45px;
  display:flex;
  flex-direction: column;
  height: 60px;
  font-family: sans-serif;
  font-style: italic;
  justify-content: center;
  color:white;

}


.buttonContainer {
  display: grid;
  grid-template-columns: 80px 60px;
  grid-template-rows: 60px;
}

.buttonContainer.reverse {
  grid-template-columns: 60px 80px;
}

.matchRegister .button {
  cursor: pointer;
  position: relative;
  height: 20px;
  width: 20px;
  border: white solid 2px;
  background: none;
  outline: none;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
}

.matchRegister .button.winner {
  background: white;
}

.matchRegister .button.winner::before {
  content:"";
  position: absolute;
  width:3px;
  height:11px;
  background-color:#445566;
  transform: rotate(45deg);
  left:8px;
  top:4px;

}
.matchRegister .button.winner::after {
  content:"";
  position: absolute;
  width:3px;
  height:5px;
  background-color:#445566;
  transform: rotate(-45deg);
  left:3px;
  top:8px;

}

.winnerCheckbox {
  
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.matchRegister .buttontext {
  font-family: sans-serif;
  margin: 3px;
  color: #cccccc;
  text-align: center;
  font-size: 13px;
}
