

.matchPlayer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;


}

.matchPlayer .iconContainer {

}

.matchPlayer.reverse {
  flex-direction: row-reverse;
}

.matchPlayer img {
  height: 80px;
  width: 80px;
  margin: -10px 0;
}

.matchPlayer .information {
  font-size: 18px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  letter-spacing: 1px;
}

.matchPlayer .nick {
  margin: 0 0;
}

.matchPlayer .nick a {
  text-decoration: none;
  text-emphasis: none;
  color: #cccccc;
}

.matchPlayer.reverse .nick {
  text-align: right;


}

.matchPlayer .rating {
  font-size: 12px;
  color: #778899;
}
