.multiStats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 10px 20px 10px;
  font-family: sans-serif;

  background-color: #ffffff;
  color: #000000;
  padding: 15px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.multiStats .title {
  margin: 0 0 10px 0;
  font-size: 16px;
}

.multiStats .characters {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.multiStats .char {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.multiStats img {
  width: 60px;

}

.multiStats .count {
  margin-top: 5px;
  font-size: 14px;
}
