.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 11px 15px;
  height: 40px;
}

.navbar button {
  background-color: #dd4444; /* Green */
  border: none;
  color: white;
  margin: 0 5px;
  padding: 10px 15px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-family: sans-serif;
}

.navbar a {
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  font-family: sans-serif;
  padding: 15px;
  color: #222222;
}

.navbar .actions {
  align-content: center;
}

.links {
  align-self: center;
}
