.userPicker {
  display: flex;
  flex-direction: column;
}

.userPicker input {
  font-size: 16px;
  border: 1.2px solid #999999;
  outline: none;
}

.userScroller button {
  background: none;
  border: none;
  outline: none;
  font-weight: 500;
  color: #888888;
}

.scrollerContainer {
  overflow: scroll;
}

.userScroller {
  display: flex;
  flex-direction: column;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
