.userPicker {
  margin:16px 10px;

}

.userPicker input {
  font-size: 18px;
  border: 1.2px solid #999999;
  outline: none;
  padding: 5px;
  border-radius: 4px;

}

.userScroller button {
  background: none;
  border: none;
  outline: none;
  font-weight: 500;
  color: #888888;
}

.scrollerContainer {
  margin: 10px;
  height: 200px;
  overflow: scroll;
}

.userScroller {
  display: flex;
  flex-direction: column;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}
.scrollerContainer:hover::-webkit-scrollbar {
  width: 5px;
}
.scrollerContainer:hover::-webkit-scrollbar-thumb {
  background: #999;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff;
}
