.user {
  margin: 10px;
  padding: 10px 0;
  display: grid;
  grid-template-columns: 50px 40px 250px;
  border-radius: 5px;
  grid-template-rows: 30px;
  align-items: center;
  font-family: sans-serif;
  color: #777788;
}

.user .number {
  text-align: center;
  font-size: 30px;
  font-weight: bold;

}

.user:first-child .number {
  color: #C9B037;
  font-size: 50px;
  font-weight: bold;

}

.user:nth-child(2) .number {
  color: #D7D7D7;

}

.user:nth-child(3) .number {
  color: #AD8A56;

}

.user .rating {
  text-align: center;

}

.user .nick {
  text-align: center;
  font-size: 20px;

}

.user .nick a {
    text-decoration: none;
    text-emphasis: none;
    color: #777788;
}
