.user {
  font-family: sans-serif;
  color: #777788;
  display: flex;
align-items: center;
justify-content: center;
font-size: 20px;
}

.usernumber {

}

.userrating {

}

.usernick {

}

.usernick a {
    text-decoration: none;
    text-emphasis: none;
    color: #777788;
}
